/* 
    This styling is used by all the pages 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f2f2f2;
}

/* HEADER AND NAVIGATION */

header {
    background-color: #fff;
    padding: 20px;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
  
nav ul li {
    margin-right: 20px;
}
  
nav ul li:last-child {
    margin-right: 0;
}
  
nav ul li a {
    color: #333;
    text-decoration: none;
}
  
.login-btn {
    padding: 10px 20px;
    background-color: #02cfc0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
  
.login-btn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
  
.login-btn:hover {
    opacity: 0.8;
}

/* GENERAL ELEMENTS */

main {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 20px;
    text-align: center;
  }
  
  .course-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .course-box {
    width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #02cfc0;
    border-radius: 5px;
  }
  
  .course-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .course-box h2 {
    margin-bottom: 10px;
  }
  
  .course-box p {
    margin-bottom: 8px;
  }
  
  .course-box a {
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  .course-box a:hover h2 {
    opacity: 0.8;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #02cfc0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    opacity: .8;
  }