/* This styling is used by all the pages */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

header {
  background-color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

.login-btn {
  padding: 10px 20px;
  background-color: #02cfc0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.login-btn a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.login-btn:hover {
  opacity: 0.8;
}

main {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0 20px;
  text-align: center;
}

.course-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.course-box {
  width: 30%;
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #02cfc0;
  border-radius: 5px;
}

.course-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.course-box h2 {
  margin-bottom: 10px;
  color: #02cfc0;
}

.course-box h2:visited {
  color: #c2c2c2;
}

.course-box p {
  margin-bottom: 8px;
}

.course-box a {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.course-box a:hover h2 {
  opacity: 0.8;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #02cfc0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  opacity: .8;
}

.why-choose-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/why_chose_us.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.why-choose-us ul {
  list-style: square;
  padding: 0;
  margin-left: 30px;
}

.why-choose-us .column {
  flex: 1;
  padding: 0 10px;
  text-align: center;
  
}

.why-choose-us .column p {
  margin-bottom: 30px;
  
}

.signup-btn a {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #02cfc0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s;
}

.signup-btn a:hover {
  opacity: .8;
}

footer {
  background-color: #02cfc0;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .course-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .why-choose-us .column {
    flex: 1 1 100%;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 20px;
  }
}